<div fxLayout="column" fxFlexFill>
    <div fxLayoutAlign="center center" fxFlexFill>

        <md-card>
            <md-card-header>
                <md-card-title>Login</md-card-title>
            </md-card-header>
            <md-card-content>
                <form name="loginForm" #loginForm='ngForm'>
                    <md-input-container>
                        <input mdInput required type="text" name='userId' #userIdField='ngModel' ngModel placeholder="user id" />
                    <md-error *ngIf='userIdField.errors?.required'>This field is required</md-error>
                    </md-input-container>
                    <md-input-container>
                        <input mdInput required type="password" name="password" ngModel #passwordRef="ngModel" placeholder="password" />
                        <md-error *ngIf="passwordRef.errors?.required">This field is required</md-error>
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions fxalign="start end">
                <button md-button (click)="login(loginForm.value)">Login</button>
            </md-card-actions>
        </md-card>
    </div>
</div>