<div fxLayout="column" fxFlexFill>
    <div fxLayoutAlign="center center" fxFlexFill>
      
        <md-card>
            <md-card-header>
                <md-card-title>Login</md-card-title>
            </md-card-header>
            <md-card-content>
                <input type="text" #userId placeholder="user id"  />
                           <input type="password" #password placeholder="password"  />
            </md-card-content>
            <md-card-actions align="start|end">
                <button md-button (click)="login(userId,password)">Action1</button>
                <button md-button (click)="onAction2">Action2</button>
            </md-card-actions>
            <!--<md-card-footer>
                Footer
            </md-card-footer>-->
        </md-card>
    </div>
</div>