<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" class="active" [routerLink]='["home"]'>DMS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]='["dataset/add/new"]'>new</a>
                </li>
                <!--<li><a href="#about">About</a></li>-->
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <a [routerLink]='[ "/legacy"] '>Dataset</a>
            <div class="container">
                <div class="row">
                    <h1>Dataset Management Systems</h1>
                </div>
                <router-outlet></router-outlet>

                <router-outlet name='details'></router-outlet>
            </div>
        </div>
    </div>
</div>